@model PostbackViewModel
<h2>Values recieved from Paynova</h2>
@if (Model.PostbackResult == null || Model.PostbackResult.IsEmpty)
{
    <div class="alert alert-warning">
        Nothing seems to have been recieved from Paynova.
    </div>
}
else
{
    @Html.Partial("_PostbackResult", Model.PostbackResult)
}