@model NotificationsViewModel

@if (!Model.Notifications.Any())
{
    return;
}
<div class="modal fade" id="notificationsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Notifications</h4>
            </div>
            <div class="modal-body">
                @foreach (var n in Model.Notifications)
                {
                    if (n is PartialViewNotification)
                    {
                        var vn = (PartialViewNotification)n;
                        @Html.Partial(vn.PartialName, vn.Model)
                    }
                }
            </div>
        </div>
    </div>
</div>
