@model Refundable
@{
    ViewBag.Title = "Refund payment failed";
}
@Html.Partial("_BreadCrumb")

<div class="m-samples row">
    <div class="col-md-6">
        Text
    </div>
    <div class="col-md-6">
        Text
    </div>
</div>
