@model SimpleOrderViewModel

@{
    ViewBag.Title = "Checkout - Simple order";
}

@Html.Partial("_BreadCrumb")
<div class="m-samples row">
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-info-sign"></span>Description</h3>
            </div>
            <div class="panel-body">
                This sample shows the creation of a simple order. Simple order means
                that you will not pass any order lines, customer data, shipping or
                billing info etc.
                <p>
                    You only have to provide:
                    <span class="label label-default">Order number</span>,
                    <span class="label label-default">Currency code</span> &amp;
                    <span class="label label-default">Total amount</span>.
                </p>
                <p>
                    Two calls will be made:
                </p>
                <ul>
                    <li><strong>CreateOrder</strong>: For setting up the order in Paynovas system.</li>
                    <li><strong>InitializePayment</strong>: For starting/initiating a payment in Paynovas system.
                            <p>
                                <span class="label label-primary"><span class="fa fa-lightbulb-o"></span></span>
                                One order can have several "part" payments
                            </p>
                    </li>
                </ul>
                <p>
                    <code>InitializePayment</code> will (if successful) return
                    an <code>Url</code> pointing to Paynova's page where
                    your customer will be able to provide payment information and
                    perform the transaction.
                </p>
                <p>
                    The customer will be redirected back to the
                    urls that was provided in the <code>InitializePaymentRequest</code>
                </p>
                <ul>
                    <li><code>request.InterfaceOptions.UrlRedirectSuccess</code></li>
                    <li><code>request.InterfaceOptions.UrlRedirectCancel</code></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading"><span class="glyphicon glyphicon-exclamation-sign"></span>Remarks</div>
            <div class="panel-body">
                To not limit you further ahead in the process, we recommend
                that you provide as much information as possible in the <code>CreateOrderRequest</code> and
                <code>InitializePaymentRequest</code>.
            </div>
        </div>
    </div>
    <div class="col-sm-6 form-container">
        @Html.Partial("_SimpleOrderForm", Model.New)
    </div>
</div>
